* {
  margin: 0;
  padding: 0;
  background-color: #fdf4f5;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

header {
  margin: 2rem 0;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  padding-right: 0.5%;
  box-sizing: border-box;
  border-radius: 100px;
  background-size: cover;
  margin: 0 2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: darkslategray;
  list-style: none;
  font-weight: 700;
  cursor: pointer;
}

li .store-items-img {
  width: 100%;
  height: 22rem;
  border: 2px solid #454545;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.comment-btn {
  width: 60%;
  height: 30px;
  font-size: 25px;
  background-color: transparent;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

ul li {
  list-style: none;
  width: 25%;
  height: auto;
  margin-bottom: 3rem;
}

.nav-list li {
  margin: 0;
}

.store-items button {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  background-color: transparent;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 3px #888;
  text-align: center;
}

.store-items i {
  cursor: pointer;
}

.store-items button:hover {
  color: white;
  background-color: #6d95c7;
}

.store-items button:active {
  background-color: #90aacb;
}

.title-like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.fa {
  font-size: 1.5rem;
}

footer {
  height: 90px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: darkslategray;
  border-top: 1px solid black;
  font-weight: 500;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.reserve-modal {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  width: auto;
  height: auto;
  padding: 1%;
  border: 1px solid #6d95c7;
  border-radius: 1%;
  background-color: #6d95c7;
  gap: 5px;
  z-index: 99;
  overflow-y: scroll;
}

.item-image {
  width: 600px;
  height: 30%;
  border-radius: 1.5%;
  align-self: center;
}

.item-data-heading {
  margin: 0.3rem auto;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  align-self: center;
}

ul.reserve-list-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: start;
  background: none;
  margin: 0 50% 1% 30%;
  width: 20%;
  height: 3rem;
  border: 0.5px solid #fff;
  padding: 0.5% 0 0.5% 0.5%;
  text-align: left;
  overflow-y: scroll;
  list-style-type: none;
}

li.reserve-list-content {
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  background: none;
}

ul.item-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 30% 1% 30%;
  width: 40%;
  height: auto;

  /* border: 0.5px solid #fff; */
  padding: 0.5%;
  text-align: left;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.item-category,
.item-price {
  background: transparent;
  width: auto;
  margin-bottom: 2px;
  font-size: 1.2rem;
  font-weight: 400;
}

.item-description {
  background: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  align-self: center;
  padding: 1px;
}

.reserve-form-title {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: none;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1% auto 0 auto;
}

.reserve-form {
  width: 40%;
  margin: 0 auto auto 29%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.2rem;
  background: none;
}

.blur-bg {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.username,
.startdate,
.enddate {
  width: 50%;
  padding: 1%;
  border-radius: 1%;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border: none;
  box-shadow: 1px 1px 3px #000;
  background: #fff;
}

.submit {
  width: 30%;
  padding: 1%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1rem;
  box-shadow: 4px 6px 3px #000;
}

.close-btn-container {
  align-self: end;
  width: 5%;
  height: 5%;
  background: none;
}

.close-btn {
  background: none;
  font-size: 3rem;
  color: #fff;
}

.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
